{% extends 'admin.layout.html.twig' %}
{% block content %}
    <div> Admin Dashboard </div>
{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
        var activePage="page-dashboard";
    </script>
{% endblock %}