{% extends 'admin.layout.html.twig' %}
{% block content %}
    <div> Admin Dashboard </div>
    <div> Welcome {{ app.user.getFirstName() }} {{ app.user.getLastName() }} </div>
{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
        var activeMenu="menu-dashboard";
    </script>
{% endblock %}